.carousel-caption h5 {
    font-size: 65px;
    font-weight: 600;
}

.carousel-caption p {
    font-size: 18px;
}

@media screen and (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 20px;
        font-weight: 600;
    }

    .carousel-caption p {
        font-size: 10px;
    }

    .carousel-caption button {
        font-size: 10px;
    }

}

@media only screen and (min-width: 577px) and (max-width: 922px) {
    .carousel-caption h5 {
        font-size: 40px;
        font-weight: 600;
    }

    .carousel-caption p {
        font-size: 16px;
    }
}


/* ---------------------------Customize The Courses-------------------------- */
.course-heading {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.course-paragraph {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.see-more-btn {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
    display: block;
}