body {
    padding: 0 8rem;
}


/* ---------------------------Customize The Carousel----------------------- */
.carousel {
    margin-bottom: 5rem;
}

.carousel-caption {
    bottom: 10rem;

}

.carousel-caption h1 {
    font-size: 65px;
    font-weight: 700;

}

.carousel-caption p {
    font-size: 18px;
    font-weight: 400;

}

.carousel-caption a {
    font-size: 20px;
    font-weight: 600;
    color: white;

}

.carousel-item {
    height: 44rem;
}

/* ---------------------------Customize The Courses-------------------------- */
.courses h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}

.courses p {
    text-align: center;
}