.carousel-caption h5 {
    font-size: 65px;
    font-weight: 600;
}

.carousel-caption p {
    font-size: 18px;
}

@media screen and (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 20px;
        font-weight: 600;
    }

    .carousel-caption p {
        font-size: 10px;
    }

    .carousel-caption button {
        font-size: 10px;
    }

}

@media only screen and (min-width: 577px) and (max-width: 922px) {
    .carousel-caption h5 {
        font-size: 40px;
        font-weight: 600;
    }

    .carousel-caption p {
        font-size: 16px;
    }
}


/* ---------------------------Customize The Courses-------------------------- */


.popular-courses {
    margin-top: 150px;
}

.course-heading {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    .course-heading {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }

}

.course-paragraph {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.see-more-btn {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
    display: block;
}

.Feature {
    margin-top: 150px;
    margin-bottom: 100px;
}

.register-section {
    margin-top: 150px;
    margin-bottom: 150px;
}

.students-profile-section {
    margin-top: 100px;
    margin-bottom: 150px;
}

.students-review {
    margin-top: 50px;
    margin-bottom: 100px;
}

.featurette {
    background-color: #F4FAFD;
}

.frequently-asked-questions {
    margin-top: 100px;
}

.companies-heading {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.companies-details {
    margin-top: 150px;
}

@media only screen and (min-width: 577px) and (max-width: 922px) {
    .companies-details {
        display: none;
    }

    .companies-heading {
        display: none;
    }

    .companies-logos {
        display: none;
    }
}

@media only screen and (min-width: 923px) and (max-width: 1200px) {
    .companies-logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

footer {
    margin-top: 150px;
}